@keyframes fadeInOut {
    0% {
        opacity: 1; 
        transform: translate(-50%, -50%) scale(1); 
    }
    20% {
        opacity: 1; 
        transform: translate(-50%, -50%) scale(1.1); 
    }
    80% {
        opacity: 1; 
        transform: translate(-50%, -50%) scale(1); 
    }
    100% {
        opacity: 0; 
    }
}
@keyframes slideIn {
    0% {
        transform: translate(-50%, -100%); /* Start above the page */
        opacity: 0; /* Start invisible */
    }
    50% {
        transform: translate(-50%, 25%); /* Slide to final position */
        opacity: 1; /* Fade in */
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
}