
.turn-board__header {
    display: flex;
      background-color: #f5f5f5;
      border-bottom: 1px solid #e0e0e0;
      font-family: Arial, sans-serif;
      font-size: 1rem;
      height: auto;
      width: auto;
      justify-content: center; 
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    
    .turn-board__container{
        display: flex;
        flex-direction: column;
        background-color:#c2ccec;
        font-family: Arial, sans-serif;
        width: 20%; 
        height: auto;
        margin: 4rem;
    }
    
    .body__container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .turn-board__body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    